body{
	// background-color: red;

}

#header-holder{
	// background-color: gray;

	#logo{
		// background-color: blue;
		padding-right: 0px;
		
		}
	#banner{
		// background-color: yellow;
		}
	}

	#profile-body{
		font-family: Helvetica;
		font-size: 15pt;
	}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
	


